
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }

  body {
    background-color: #a8b7f3;
    background-image: linear-gradient(180deg, #a8b7f3 0%, #edfaff 100%);
  }
  
  